.DS_Store
*.png
*.pdf
*.nc
*.grb
*.grb2
*GRIBFILE*
*PFILE*
wrfout*
wrfrst*
wrfbdy*
wrfinput*
wrffdda*
oa*
*.jpeg
*.swp
*.pptx
*.exe
log.*
*.log
Log.*
*.Log
Vtable*
output*
errors*
FILE*
*.idea/workspace.xml
*.idea/met4ene.iml
*.idea/misc.xml
*.idea/vcs.xml
**/.idea*
**/__pycache__*
*.pyc
*.db
**/.pytest_cache/
default-*
**/.ipynb_checkpoints*
*.egg-info/
*-jvsc-*